.App {
    height: 100%;
    width: 100%;
}

.debug {
    float: right; /* container on the right side */
    text-align: right; /* Text right orientated */
    font-size: small; /* SMALL Text size */
    display: table-row; /* display list vertical */
    list-style-type: none; /* Remove bullets */
    position: absolute;
    right: 0;
}

.gameBackground {
    background-image: url(./assets/defaultBG.webp);
    background-size: 100% 100%;
    filter: blur(4px) brightness(50%);
    /* Position */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    /* Background */
    z-index: -1;
}