.gameSettings h1 {
    text-align: center;
}

.gameSettings {
    /* better edge */
    border-radius: 15px;
    /* White with 30% transparency */
    background-color: rgba(0, 0, 0, 40%);
    /* Position */
    top: 5%;
    bottom: 5%;
    left: 10%;
    right: 10%;
    position: absolute;
    /* Background */
    z-index: 1;
}

.gameSettings input {
    margin-right: auto;
}

.gameSettings li {
    /* Better Borders */
    border-radius: 15px;
    /* White with 30% transparency */
    background-color: rgba(15, 15, 15, 60%);
    /* Better Edges */
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    /* Remove bullets */
    list-style-type: none;
    /* To make the messages show up in ROWS */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.gameSettings h2 {
    width: 25%;
}

.gameSettings p {
    width: 60%;
}

.gameSettings * {
    margin: 2%;
}

.openGameSettingsButtons {
    position: absolute;
    /* Position on the Bottom */
    bottom: 0;
    /* in the middle of the Bottom */
    left: 50%;
    /* Button in half size of it self  */
    transform: translate(-50%, 0);
}

.gameSettingsBackground {
    background-size: 100% 100%;
    filter: blur(4px) brightness(50%);
    /* Position */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    /* Background */
    z-index: 0;
}