.content {
    padding-top: 10%;
    padding-bottom: 10%;
    min-height: 15%;
    max-height: 80%;

    margin: auto;
    width: 35%;
    height: 25%;
    font-size: larger;
}

.logo {
    margin: auto;
    display: flex;
    height: 125pt;
}

.form-items input, textarea{
    width:98%;

    background: transparent;
    color: white;
    text-shadow: #343434;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
}

.form-items {
    padding-bottom: 10pt;
 }

.buttons button{
    width: 50%;

    min-height: 30px;
    font-size: large;
}
