.winnerScreen {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.title {
    padding-bottom: 10px;
    font-size: 100px;
    font-weight: bold;
    text-shadow: 3px 3px 0 black;
}

.winner {
    font-size: 35px;
    padding-bottom: 5px;
    text-shadow: 2px 2px 0 black;
}

.lobbyName {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    text-shadow: 2px 2px 0 black;
}