.chatMessage p {
    color: white;   /* Text Color white */
    display: table-row; /* display list vertical */
    list-style-type: none; /* Remove bullets */
    white-space: pre-wrap;
}

.chatMessage {
    margin: 0 0 10px;
}