.chat {
    /* set the position of the container to be absolute */
    position: absolute;
    /* set the width property to 20% to take up 20% of the screen */
    right: 0%;
    /* set the height of the container */
    height: 100%;
    display: flex;
    flex-flow: row-reverse;
    z-index: 101;
}

.visible {
    width: 30%;
}

.invisible {
    width: 0%;
}

.chat button {
    font-size: medium;
}

.button-open {
    height: 25px;
    /* position the button to the center */
    align-self: center;
    rotate: -90deg;
    /* Button in half size of it self  */
    transform: translate(50%, 0);
    transform-origin: right bottom;
}

.chat-window {
    background: rgba(50, 50, 50, 0.5);
    padding: 5px;
    display: flex;
    flex-flow: column;
}

.chat-textArea {
    width: auto; /* overriddes the css from the textArea so it is not overflows */
    resize: none;
}

.sendMessageArea {
    display: flex;
    justify-content: space-between;
}

.messages {
    margin-top: auto;
    overflow: auto;
}
