.chatMessage p {
    color: white;   /* Text Color white */
    display: table-row; /* display list vertical */
    list-style-type: none; /* Remove bullets */
    white-space: pre-wrap;
}

.chatMessage {
    margin: 0 0 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 5px;
}