.enemyPlayer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .4em;
}

.enemyPlayer *{
    margin: .2em;
    font-size: 1.3em;
    font-family: Arial;
}

.playerName {
    color: white;
    font-weight: bold;
    -webkit-text-stroke: .05em black;
}