.content {
    margin: auto;
    width: 35%;
    height: 25%;
    font-size: larger;
}

.logo {
    padding-top: 15%;
    margin: auto;
    display: flex;
    height: 25%;
}

.form-items input, textarea{
    width:98%;

    background: transparent;
    color: white;
    text-shadow: #343434;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
}

.form-items {
    padding-bottom: 10pt;
 }

.buttons button{
    width: 50%;

    min-height: 30px;
    font-size: large;
    margin: auto;
    cursor: pointer;
    border: 1px solid #1a202c;
    transition: all 0.1s ease-in;
}
