.background {
    background: #343434;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    bottom: 0;
}

.content {
    margin: auto;
    width: 35%;
    height: 25%;
}

.logo {
    padding-top: 15%;
    margin: auto;
    display: flex;
    height: 25%;
}

.lobbyID input{
    width: 100%;
    text-align: center;
    font-family: Arial;
    font-size: larger;
    font-weight: bold;
}

.buttons button{
    width: 50%;
    font-size: large;

    margin: auto;
    cursor: pointer;
    background: white;
    border: 1px solid #1a202c;
    min-width: 64px;
    transition: all 0.1s ease-in;
}

