.background {
    background: #343434;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    bottom: 0;
}

.content {
    margin: auto;
    width: 35%;
    height: 25%;
    font-size: larger;
}

.logo {
    padding-top: 15%;
    margin: auto;
    display: flex;
    height: 25%;
}

.lobbyID input{
    width:98%;

    background: transparent;
    color: white;
    text-shadow: #343434;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.buttons button{
    width: 50%;

    min-height: 30px;
    font-size: large;
    margin: auto;
    cursor: pointer;
    border: 1px solid #1a202c;
    transition: all 0.1s ease-in;
}
